

.round {
    border-radius: 50%;
    background-color: blue;
    width: 100px;
    height: 100px;
}

.squate {
     border-radius: 15%;
     background-color: black;
     width: 200px;
     height: 100px;
}

