

.round {
    border-radius: 50%;
    background-color: orange;
    width: 75px;
    height: 75px;
    color: white;
}

.squate {
     border-radius: 15%;
     background-color: lightgray;
     width: 100px;
     height: 75px;
     color: white;
}

