

.round {
    border-radius: 50%;
    background-color: blue;
    width: 75px;
    height: 75px;
}

.squate {
     border-radius: 15%;
     background-color: black;
     width: 100px;
     height: 75px;
}

