background {
    color: black:
}        
button {
    color: white;
    font-size: 50pt;
    border: none;
    width: 100%;
    height: 22.5vh;
    border-width: 5px:
}

.round {
    border-radius: 50%;
    background-color: #000756;
    border-width: 5px:
}

.squate {
    border-radius: 20%;
    background-color: #000000;
    border-width: 5px;
    font-style: georgia;
}

#output {
    width: 100%;
    height : 10vh;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 20pt;
}
