input {
    width: 100%;
    height: 10vh;
}

button {
    color: white;
    font-size: 50pt;
    border: none;
    width: 100%;
    height: 22.5vh;
    border-width: 5px:
}

.round {
    border-radius: 50%;
    background-color: orange;
}

.squate {
     border-radius: 20%;
     background-color: gray;
}
.output {
     width: 100%;
     height : 22.5vh;
     background-color: rgba(0, 0, 0 .75);
}
