input {
    width: 100%;
    height: 10vh;
}

button {
    color: white;
    font-size: 50pt;
    border: none;
    width: 100%;
    height: 22.5vh;
    .btn-1 {
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

.round {
    border-radius: 50%;
    background-color: orange;
}

.squate {
     border-radius: 20%;
     background-color: gray;
}
